//Vars
:root {
  --rad: 0.7rem;
  --dur: 0.3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #57bd84;
  --font-fam: "Lato", sans-serif;
  --height: 5rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
  border: 1px solid black;
  .logo-container {
    .logo-text {
      font-family: Arial, Helvetica, sans-serif, Basis_Grotesque_Pro_Bold;
    }
  }
  .nav-items > ul {
    display: flex;
    align-items: center;
    font-size: 24px;
  }
  .nav-items > ul > li {
    padding: 10px;
    margin: 10px;
    list-style: none;
  }
  .nav-items {
    .login-btn {
      max-height: 50px;
      min-width: 96px;
      max-width: 292px;
      display: block;
      padding: 14px 32px 10px 32px;
      text-align: center;
      font-size: 18px;
      line-height: 26px;
      background-color: #0c2247;
      color: #fff;
      border: none;
      position: relative;
      overflow: visible;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;
    }
    ul li a:-webkit-any-link {
      text-decoration: none;
      color: #000000;
    }
  }
}
.body {
  .filter {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    .search {
      display: flex;
      gap: 20px;
      align-items: center;
      input[type="search"] {
        background: var(--color-light);
        padding: 0 1.6rem;
        border-radius: var(--rad);
        appearance: none; //for iOS input[type="search"] roundedness issue. border-radius alone doesn't work
        transition: all var(--dur) var(--bez);
        transition-property: width, border-radius;
        z-index: 1;
        position: relative;
      }
      .search-input {
        font-family: var(--font-fam);
        border: 1px solid #9b8b42;
        color: var(--color-dark);
        font-size: 1rem;
        min-height: 35px;
      }
    }
    .search-btn,
    .filter-btn {
      min-width: 96px;
      max-width: 292px;
      padding: 14px 32px 10px 32px;
      text-align: center;
      font-size: 18px;
      line-height: 26px;
      background-color: #dc6b19;
      color: #fff;
      border: none;
      position: relative;
      border-radius: 100px;
      overflow: visible;
      cursor: pointer;
    }
  }
  .res-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    .res-card {
      width: 300px;
      max-height: 450px;
      background-color: #f0f0f0;
      padding: 10px;
      .res-cardname,
      .res-rating,
      .costtwo,
      .res-sla {
        -webkit-font-smoothing: antialiased;
        font-family: Arial, Helvetica, sans-serif, Basis_Grotesque_Pro_Bold;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.3px;
        color: rgba(2, 6, 12, 0.75);
        overflow: hidden;
        width: 100%;
        display: -webkit-box;
        overflow-wrap: break-word;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
      .res-cuisine {
        -webkit-font-smoothing: antialiased;
        font-family: Arial, Helvetica, sans-serif, Basis_Grotesque_Pro_Bold;
        font-weight: 200;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.3px;
        color: rgba(2, 6, 12, 0.6);
        overflow: hidden;
        width: 100%;
        display: -webkit-box;
        overflow-wrap: break-word;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }

      .logo-div {
        .res-img {
          border-radius: 10px;
          width: 100%;
          max-height: 150px;
        }
      }
    }
    .res-card:hover {
      outline: 1px solid black;
      cursor: pointer;
    }
    a {
      text-decoration: none;
    }
  }
}
.shimmer-container {
  padding-top: 90px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  display: flex;
  .shimmer-card {
    background-color: #f0f0f0;
    width: 320px;
    height: 414px;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}
.menu,
.Shimmermenu {
  .top-section {
    text-align: center;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
  }
  .bottom-section {
    width: calc(100% - 700px);
    margin: 0 auto;
    .ul-start {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
      .card-divider {
        height: 0.5px;
        background-color: rgb(226, 226, 231);
        width: calc(100% - 700px);
        margin: 24px auto;
      }
      > li {
        width: 42%;
      }
      .stock {
        margin: 10px 0;
      }
      li:last-child {
        margin-bottom: 20px;
      }
    }
  }
}
.Shimmermenu {
  li {
    height: 100px;
  }
}
